---
import '../styles/global.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="bg-bg-black min-h-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body class="max-w-[960px] mx-auto p-5 text-amber-bright min-h-screen border-x-amber-dim border-x-4 border-double relative z-10 md:p-5 max-md:p-2.5 max-md:border-none">
    <slot />
    <script src="../scripts/crt-effects.ts"></script>
</body>
</html>
